.task-text{
    height: 80px;
    font-size: 32px;
    line-height: 39px;
    display: flex;
    align-items: center;
    color: var(--do-ur-text-color);

    display: flex;
    align-items: center;
    padding: 0 23px;
    gap: 10px;

    background: var(--do-ur-text-bg);
    box-shadow: inset 0px 2px 9px #000000;
    border-radius: 10px;
}